@import 'styles/variables.scss';

.sidebar {
  width: $sidebarWidth;
  height: 100vh;
  position: absolute;
  left: unquote('-' + ($sidebarWidth));
  transform: translateX(0);
  transition: transform $transitionMedium;
  @apply z-10;

  .logo-container {
    height: $navbarHeight;
    @apply flex items-center justify-center;

    .logo {
      transition: transform $transitionMedium;
      transform: translateX(calc(#{$sidebarWidth} - #{$sidebarWidth} / 4 + 1rem));
      @apply font-bold text-2xl text-primary;
    }
  }

  &.open {
    transform: translateX($sidebarWidth);

    .logo {
      transform: translateX(0);
    }
  }
}