@import 'styles/variables.scss';

.note {
  transition: border $transitionFast;
  @apply border-b-2 border-secondary hover:border-accent;

  &:last-of-type {
    @apply border-transparent hover:border-accent;
  }

  &.selected {
    @apply border-b-2 border-accent;
  }

  .actions-container {
    transition: opacity $transitionFast;
    opacity: 0;
  }

  &:hover {
    .actions-container {
      opacity: 1;
    }
  }
}

// https://css-tricks.com/line-clampin/
.fade {
  position: relative;
  @apply text-sm flex-grow overflow-hidden;
}

.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 10%;
  right: 0;
  width: 40%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.title {
  height: 2rem;
  overflow: hidden;
}