@import 'styles/variables.scss';

$settingsContainerWidth: 30px;
$ballWidth: 22px;

.widget-positioner {
  transition: opacity $transitionFast;
  opacity: 1;
  z-index: 1;
  @apply fixed;

  .left-top, .right-top {
    opacity: 0;
    transition: opacity $transitionFast;

    width: $settingsContainerWidth;
    height: $settingsContainerWidth;
    @apply absolute;

    &:hover {
      opacity: 1;
  
      .ball {
        z-index: 50;
      }
    }
  }

  .left-top {
    left: calc(#{-$settingsContainerWidth} / 2);
    top: calc(#{-$settingsContainerWidth} / 2);

    .ball {
        transform: translate(35%, 35%);
    }

    &:hover {
      .ball {
        transform: translate(-10%, -10%);
      }
    }
  }

  .right-top {
    right: calc(#{-$settingsContainerWidth} / 2);
    top: calc(#{-$settingsContainerWidth} / 2);

    .ball {
        transform: translate(-55%, 35%);
    }

    &:hover {

      .ball {
        transform: translate(-10%, -10%);
      }
    }
  }

  .ball {
    transition: transform $transitionFast;
    width: $ballWidth;
    height: $ballWidth;
    border-radius: 50%;
    // transform: translate(-150%, 50%);
    top: 25%;
    left: 25%;
    z-index: 3;

    @apply shadow bg-primary flex justify-center items-center absolute cursor-pointer;
  }
}

.is-moving {
  opacity: .3;
  z-index: 0;
}