@import 'styles/variables.scss';

.button {
  transition: transform $transitionFast;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  @apply rounded-full tracking-wider;

  &.sm {
    @apply px-2 py-1 text-base;
  }

  &.md {
    @apply px-4 py-2 text-xl;
  }

  &.full-width {
    @apply w-full;
  }
}

.primary {
  @apply bg-accent text-inverted border-transparent border;
}

.secondary {
  @apply border-accent border-2 bg-transparent text-black;
}

.danger {
  @apply bg-red-600 text-inverted border-transparent;
}

.disabled {
  @apply bg-secondary text-secondary;
}