@import 'styles/variables.scss';

.input-container {
  min-width: 200px;

  &:not(:first-of-type) {
    @apply mt-2;
  }

  &.sm {
    .input {
      @apply px-2 py-1;
    }
  }

  &.md {
    .input {
      @apply px-4 py-2;
    }
  }

  .input {
    transition: all $transitionFast;
    @apply w-full border-gray-200 border rounded-lg mt-1;

    &:focus {
      border: solid 1px #96cbef;
      box-shadow: rgba(150, 203, 239, 0.2) 0px 3px 8px;
    }
  }
}