:root {
  @apply light;
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-inverted: #283141;
  --color-accent: #81e6d9;
}

.light {
  --color-bg-primary: #f4faff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2c2543;
  --color-text-secondary: #4a5568;
  --color-text-inverted: #edf2f7;
  --color-accent: #fc4445;
}

@tailwind base;
@tailwind components;
@tailwind utilities;